@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Nabla&family=Roboto:ital,wght@0,300;1,100&family=Rochester&family=Rubik+Dirt&family=Yesteryear&display=swap');

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* tipos de letras::after
font-family: 'Amiri Quran', serif;
font-family: 'Nabla', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik Dirt', cursive;
font-family: 'Yesteryear', cursive;
font-family: 'Rochester', cursive;



*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}



body{
    font-family: 'Amiri Quran', serif;
    

}

#encabezado{
    
    border: 1px solid rgb(19, 0, 128);
    justify-content:center;
    /* margin: 1%; */
    width:100%;
    height:auto;
    background: rgb(224, 224, 217);
    
}
#encabezado #logo img{
    width: 90px;
    height: 90px;
    /* margin: 3px; */
}



#encabezado #menu{
    font-family: 'Yesteryear', cursive;
    position: absolute;
    top:-0;
    margin-left: 20%;    
}

.menu >li{
position: relative;
display: inline-block;
}

.menu >li>a{
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 255);
    text-decoration: none;
    }

#slider{
    background:url(../Imagenes/anya.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat; /* Indicamos que no se repetira */
	background-size:cover;
    width: 100%;
    height: 300px;
    

}


#carrusel{
  justify-content: center;
  background-attachment: fixed;
  background-repeat:no-repeat; /* Indicamos que no se repetira */
  background-size:cover;
  width: 50%;
  height: 300px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5px;
    

}





#container{
    font-family: 'Amiri Quran', serif;
    background:rgb(224, 224, 217);
    padding: 1px; ; 
    width:100%;
    height:auto;
}

#servicios{
    display:inline-flex;
    justify-content:center;
    flex-wrap: wrap;
    border-top: 2px solid rgb(19, 0, 128);
    
    width: 100%;
    height:auto;
    background: rgb(224, 224, 217);
    
}
h1{
    text-align:center;
    color: red;
    font-family: 'Rochester', cursive;

}

h2{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    
}
span{
    text-align:center;
}

.Servicio{
    border: 1px solid red;
    justify-content:center;
    margin: 1%;
    width: 30%;
    height:auto;
    
}




#videos{
    display:inline-flex;
    justify-content:center;
    flex-wrap: wrap;
    border-top: 2px solid rgb(19, 0, 128);
    /* margin: 5px; */
    width: 100%;
    height:auto;
    background: rgb(224, 224, 217);
}

.Video{
    border: 1px solid red;
    justify-content:center;
    margin: 1%;
    width: 30%;
    height:auto;
    
}





#pie{
    text-align: center;
    
    border: 1px solid rgb(19, 0, 128);
    
    width:100%;
    height: auto;
    background: rgb(9, 239, 255);
}









@media(max-width:1000px){


   
    
 #videos{
    flex-direction: column;
 }
    .Video{
        margin: 2%;
        width: 98%;
    }     


    #servicios{
        flex-direction: column;
     }
        .Servicio{
            margin: 2%;
            width: 98%;
        }   
        
}

@media (max-width:300px) {
     #encabezado #menu{
        justify-content: center;
        background: rgb(224, 224, 217);
        font-family: 'Yesteryear', cursive;
        position: absolute;
        top:100px;
        margin-left: 0%;    
    }

}